{% load static %}
{% load customfilters %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chicago Public Schools SQRP Playground</title>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <style>
      .body{
        margin-left: 0px;
      }

      .marker {
        background-size: cover;
        background-color: transparent;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
      }

      .inability-to-rate {
        background-image: url("{% static 'img/marker_inability_to_rate.png' %}");
      }

      .level-one-plus {
        background-image: url("{% static 'img/marker_level_1+.png' %}");
      }

      .level-one {
        background-image: url("{% static 'img/marker_level_1.png' %}");
      }

      .level-two {
        background-image: url("{% static 'img/marker_level_2.png' %}");
      }

      .level-two-plus {
        background-image: url("{% static 'img/marker_level_2+.png' %}");
      }

      .level-three {
        background-image: url("{% static 'img/marker_level_3.png' %}");
      }

      .mapboxgl-popup {
        max-width: 200px;
      }
      
      .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
      }
  </style>
  <body>
    <nav>
        <div class="nav-wrapper" style="background-color: #001A52;">
          <a href="#" class="brand-logo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Chicago Public Schools SQRP Playground</a>
          <ul id="navComponents" class="right hide-on-med-and-down">
            <li><a href=# class="right hide-on-med-and-down">Alison Pelczar, Lily Grier, Launa Greer</a></li>
          </ul>
        </div>
    </nav>
    <div>
        <div class="row">
            <div class="col s6" style="padding-left: 0px;">
              <div id='map' style="width: 800 px; height: 800px;"></div>
            </div>
            <div class="col s6">
              <ul class="tabs">
                <li class="tab col s4"><a href="#modelConfig">Configure Model</a></li>
                <li class="tab col s4"><a href="#results">View Results</a></li>
                <li class="tab col s4"><a href="#biasScore">View Bias Score</a></li>
              </ul>
              <div id="modelConfig">
                <form method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div id="PSATInputs" class="col s4">
                      <h6>PSAT</h6>
                      <p class="range-field">
                        {{ form.grade_9_psat_cohort_growth.label_tag }}
                        {{ form.grade_9_psat_cohort_growth }}
                      </p>
                      <p class="range-field">
                        {{ form.grade_10_psat_annual_growth_ebrw.label_tag }}
                        {{ form.grade_10_psat_annual_growth_ebrw }}
                      </p>
                      <p class="range-field">
                        {{ form.grade_10_psat_annual_growth_math.label_tag }}
                        {{ form.grade_10_psat_annual_growth_math }}
                      </p>
                    </div>
                    <div id="SATInputs" class="col s4">
                      <h6>SAT</h6>
                      <p class="range-field">
                        {{ form.grade_11_sat_3yr_cohort_growth.label_tag }}
                        {{ form.grade_11_sat_3yr_cohort_growth }}
                      </p>
                      <p class="range-field">
                        {{ form.grade_11_sat_growth_ebrw.label_tag }}
                        {{ form.grade_11_sat_growth_ebrw }}
                      </p>
                      <p class="range-field">
                        {{ form.grade_11_sat_growth_math.label_tag }}
                        {{ form.grade_11_sat_growth_math }}
                      </p>
                      <p class="range-field">
                        {{ form.priority_group_sat_growth.label_tag }}
                        {{ form.priority_group_sat_growth }}
                      </p>
                    </div>
                    <div id="RetentionInputs" class="col s4">
                      <h6>Retention</h6>
                      <p class="range-field">
                        {{ form.avg_daily_attendance_rate.label_tag }}
                        {{ form.avg_daily_attendance_rate }}
                      </p>
                      <p class="range-field">
                        {{ form.freshmen_on_track_rate.label_tag }}
                        {{ form.freshmen_on_track_rate }}
                      </p>
                      <p class="range-field">
                        {{ form.four_year_cohort_graduation_rate.label_tag }}
                        {{ form.four_year_cohort_graduation_rate }}
                      </p>
                      <p class="range-field">
                        {{ form.one_year_dropout_rate.label_tag }}
                        {{ form.one_year_dropout_rate }}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div id="CollegePrepInputs" class="col s4">
                      <h6>College Preparation</h6>
                      <p class="range-field">
                        {{ form.percent_students_college_ready.label_tag }}
                        {{ form.percent_students_college_ready }}
                      </p>
                      <p class="range-field">
                        {{ form.percent_graduating_with_creds.label_tag }}
                        {{ form.percent_graduating_with_creds }}
                      </p>
                    </div>
                    <div id="CollegeInputs" class="col s4">
                      <h6>College</h6>
                      <p class="range-field">
                        {{ form.college_enrollment_rate.label_tag }}
                        {{ form.college_enrollment_rate }}
                      </p>
                      <p class="range-field">
                        {{ form.college_persistence_rate.label_tag }}
                        {{ form.college_persistence_rate }}
                      </p>
                    </div>
                    <div id="OtherInputs" class="col s4">
                      <h6>Other</h6>
                      <p class="range-field">
                        {{ form.attainment_psat_grade_9_school.label_tag }}
                        {{ form.attainment_psat_grade_9_school }}
                      </p>
                      <p class="range-field">
                        {{ form.attainment_psat_grade_10.label_tag }}
                        {{ form.attainment_psat_grade_10 }}
                      </p>
                      <p class="range-field">
                        {{ form.attainment_sat_grade_11_school.label_tag }}
                        {{ form.attainment_sat_grade_11_school }}
                      </p>
                      <p class="range-field">
                        {{ form.five_essentials_survey.label_tag }}
                        {{ form.five_essentials_survey }}
                      </p>
                      <p class="range-field">
                        {{ form.data_quality_index_score.label_tag }}
                        {{ form.data_quality_index_score }}
                      </p>
                    </div>
                  </div>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
                </form>
              </div>
              <div id="results">
                <div class="nav-wrapper">
                  <img src="{% static 'img/level_dist.svg' %}" alt="School level counts" style="width: 100%;">
                  <div class="input-field">
                    <input id="search" type="search" placeholder="Search for schools by name, location, or rating">
                    <label class="label-icon" for="search"><i class="material-icons" style="padding-right: 1em;">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </div>
                {% if schools %}
                <ul class="collapsible">
                  {% for school in schools %}
                  <li id="{{school.id}}">
                    <div class="collapsible-header">
                      <i class="material-icons">school</i>
                      <span style="font-weight: bold; position: right;">{{school.name}} - {{school.sqrp_rating}}</span>
                    </div>
                    <div class="collapsible-body">
                      <div class="card horizontal">
                        <div class="card-image">
                          <img src="https://www.voicesofyouth.org/sites/default/files/images/2019-03/school.jpg">
                        </div>
                        <div class="card-stacked">
                          <div class="card-content">
                            <p style="font-weight: bold;">{{school.name}}</p>
                            <p>2018-19 CPS Rating: {{school.cps_rating}}</p>
                            <p>SQRP Rating: {{school.sqrp_rating}}</p>
                            <p>SQRP Points: {{school.sqrp_points}}</p>
                            <p>{{school.}}</p>
                            <p>CITY, STATE ZIPCODE</p>
                            <p>PHONE NUMBER</p>
                          </div>
                          <div class="card-action">
                            <a href="#">Link</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div id="biasScore">
                <div class="row" style="text-align: center;">
                  <h1 style="font-size: 10em; font-weight: bold; color:#00684D; padding: 0; margin: 0;">{{bias_score}}</h1>
                  <br><span style="font-size: 2em; color:lightslategray; font-style: italic;">2018-19 CPS Score: 53</span>
                </div>
                <div class="row">
                  <p style="padding-top: 0;">
                    <span style="font-size: 1em; color:lightslategray; font-style: italic; padding-bottom: 0;">Explanation</span><br>
                    {{bias_score_explanation}}
                  </p>
                </div>
                <div class="row">
                  <span style="font-size: 1em; color:lightslategray; font-style: italic; padding-bottom: 0;">Regression Plots</span><br>
                  <img src="{% static 'img/bias_score_viz.svg' %}" alt="Linear regression plots" style="width: 100%;">
                </div>
              </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/materialize.min.js' %}" type="text/javascript"></script>
      {% if schools %}
      {{ schools|json_script:"markerSource" }}
      {% endif %}
    <script id="map">
      // Initialize map
      mapboxgl.accessToken = 'pk.eyJ1IjoibGF1bmEiLCJhIjoiY2l5aTVjYnBzMDYwMjMyb2U2b3QyNmp2YyJ9.hzRZq1zwJuLog74b9ZJ0QQ';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/launa/ck7mur4ax0esd1imkp3ocnhil/draft',
        center: [-87.6298, 41.8781],
        zoom: 9
      });

      map.on('load', function () {
        map.resize();
      });

      // Parse schools into JSON
      var school_dict = JSON.parse(document.getElementById('markerSource').textContent);

      // Create a map feature and corresponding HTML div element for each school
      var features = [];
      var elements = [];
      var marker_level_map = {
        "Level 1+": "level-one-plus",
        "Level 1" : "level-one",
        "Level 2" : "level-two",
        "Level 2+" : "level-two-plus",
        "Level 3" : "level-three",
        "Inability to Rate" : "inability-to-rate"
      };

      for (key in school_dict){
        // Retrieve school
        school = school_dict[key];

        // Create map feature
        features.push({
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [school.longitude, school.latitude]
          },
          properties: {
            title: school.name,
            description: "SQRP Rating: " + school.sqrp_rating
          }
        });

        // Create div element with appropriate style classes
        var el = document.createElement('div');
        el.className = 'marker ' + marker_level_map[school.sqrp_rating];
        elements.push(el)
      }
      
      // Add features to GeoJSON feature collection
      var geojson = {
        type: 'FeatureCollection',
        features: features
      };

      // Add markers to map
      for (i = 0; i < features.length; i++){
        var el = elements[i]
        var marker = features[i]
        new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 })
        .setHTML('<h6><b>' + marker.properties.title + '</b></h6><p>' + marker.properties.description + '</p>'))
        .addTo(map);
      }
      </script>
      <script>
        $(document).ready(function(){
          $('.tabs').tabs();
          $('.collapsible').collapsible();
        });

        $('#search').keypress(function (e) {
          if (e.which == 13) {
            alert( "User submitted new input");
            var val = $("#search").first().val();
            console.log("The value is " + val);
            var school_dict = JSON.parse(document.getElementById('markerSource').textContent);
            var filtered_arr = $.grep(school_dict, function(s){
              return s.name + " - " + s.sqrp_rating == val
            })
            console.log(filtered_arr)
          }
        });
      </script>
  </body>
</html>